.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  font-size: xx-large;
}

.container {
  padding: 10px;
}

.form {
  width: 100%;
}

.form-element {
  padding: 0px 10px 0px 10px;
  width: 100%;
}

.button {
  width: 100%;
}

.app-label {
  font-family: "Arial";
  font-size: large;
}

.app-button-row button,
.app-button-row a {
  margin-right: 8px;
}

.separator{
  flex-grow:0.1;
}
